# .gitignore for jekyllized projects

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

# OSX
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Packages
node_modules/*
.tmp
test/

_site
