section {
  background-color: $light-background-color;
  padding: ($base-spacing * 2) $base-spacing;
  position: relative;
  z-index: 1;

  h4 {
    font-weight: $normal-weight;
    text-decoration: underline;
  }

  p {
    img {
      width: 100%;
    }
  }

  ol {
    box-shadow: 0 1px 0 currentColor;
    padding-bottom: $small-spacing;

    img {
      width: 100%;
    }
  }

  ul {
    @extend %default-ul;
    margin: $small-spacing 0;

    li {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  @include media($medium-screen-up) {
    min-height: 100vh;
    padding-top: $base-spacing * 4;

    &.half,
    &.third,
    &.sixth {
      float: left;
    }

    &.sixth {
      width: 25%;

      &.right {
        margin-left: 75%;
      }
    }

    &.half,
    &.third {
      width: 50%;

      &.right {
        margin-left: 50%;
      }
    }
  }

  @include media($large-screen-up) {
    &.sixth {
      width: 16.666%;

      &.right {
        margin-left: 83.333%;
      }
    }

    &.third {
      width: 33.333%;

      &.right {
        margin-left: 66.666%;
      }
    }
  }
}
