<main class="curtain">
  {% for articleData in sortedArticles %}
    {% assign article = articleData[1] %}
    <article class="{% for class in article.section %}{{ class }} {% endfor %}">

      {% if article.background %}
        <div class="bg">
          <img src="{{ article.background }}" class="cover frame">
        </div>
      {% endif %}

      {% if article.animationFrames %}
        <div class="bg animation">
          {% for frame in article.animationFrames %}
            <img src="{{ frame }}" class="cover frame {{ article.animation }}">
          {% endfor %}
        </div>
      {% endif %}

      {% if article.content %}
        <section class="{% for class in article.layout %}{{ class }} {% endfor %}">

          {% if article.title %}
            <header class="article-title">
              <h1>{{ article.title }}</h1>
            </header>
          {% endif %}

          {% for row in article.content %}
            <div class="grid">
              {% for column in row %}
                <div class="column {{ column.width}}">
                  {{ column.content | markdownify }}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </section>
      {% endif %}

    </article>
  {% endfor %}
</main>
