<article class="short cover" style="background-image: url({{ page.cover }});">
  {% if page.mp4 %}
    <video autoplay class="video" id="video">
      {% if page.ogg %}
        <source src="{{ page.ogg }}" type="video/ogg">
      {% endif %}
      <source src="{{ page.mp4 }}" type="video/mp4">
    </video>
    <div class="video-button" id="video-button">
      <svg class="icon">
        <use xlink:href="#replay"></use>
      </svg>
    </div>
  {% endif %}
  <svg class="icon arrow-down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow"></use></svg>
</article>
