<nav class="nav nav-toggle">
  <div class="nav-close"></div>
  <header class="nav-header">When Today<br>is Over</header>
  <ul>
    <li>
      <a href="gregg.html" class="nav-item">Gregg</a>
    </li>
    <li>
      <a href="lockwood.html" class="nav-item">Lockwood</a>
    </li>
    <li>
      <a href="lyons.html" class="nav-item">Lyons</a>
    </li>
  </ul>
</nav>

<div class="nav-overlay nav-toggle"></div>

<div class="hamburger nav-toggle">
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
</div>
