<nav class="nav nav-toggle">
  <div class="nav-close"></div>
  <header class="nav-header">Carbon 2065</header>
  <ul>
    <li>
      <a href="gregg-a.html" class="nav-item">Gregg A</a>
    </li>
    <li>
      <a href="gregg-b.html" class="nav-item">Gregg B</a>
    </li>
    <li>
      <a href="lockwood-a.html" class="nav-item">Lockwood A</a>
    </li>
    <li>
      <a href="lockwood-b.html" class="nav-item">Lockwood B</a>
    </li>
    <li>
      <a href="lyons-a.html" class="nav-item">Lyons A</a>
    </li>
    <li>
      <a href="lyons-b.html" class="nav-item">Lyons B</a>
    </li>
  </ul>
</nav>

<div class="nav-overlay nav-toggle"></div>

<div class="hamburger nav-toggle">
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
</div>
