<nav class="nav nav-toggle">
  <div class="nav-close"></div>
  <header class="nav-header">Carbon 2065</header>
  {% for section_hash in site.data.sections %}
    {% assign section = section_hash[1] %}
    <header class="nav-section-header">{{ section.title }}</header>
    <ul>
      {% for page_hash in section.pages %}
        {% assign page = page_hash[1] %}
        <li>
          <a href="{{ page.id }}.html" class="nav-item">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</nav>

<div class="nav-overlay nav-toggle"></div>

<div class="hamburger nav-toggle">
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
  <div class="hamburger-bar"></div>
</div>
