.animation {
  @include position(absolute, 0);
  pointer-events: none;
}

.frame {
  @include position(absolute, 0);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  &.fade,
  &.stop {
    opacity: 0;
  }
}

.frame-shim {
  height: 33vw;
  margin: 0;

  &:nth-of-type(1) {
    margin-top: 33vw;
  }

  &:last-of-type {
    margin-bottom: -33vw;
  }
}
