.bg {
  height: 75vw;
  pointer-events: none;
  position: relative;
  width: 100vw;

  @include media($medium-screen-up) {
    @include position(absolute, 0);
    height: 100vh;
  }
}

.frame {
  @include position(fixed, 0);

  &.fade,
  &.stop {
    opacity: 0;
  }
}

.frame-shim {
  height: 50vh;
  margin: 0;

  &:nth-of-type(1) {
    margin-top: 25vh;
  }

  &:last-of-type {
    margin-bottom: -25vh;
  }
}
