.grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 (-$small-spacing);
  position: relative;

  & + & {
    padding-top: $small-spacing;

    &::before {
      @include position(absolute, 0 $small-spacing null);
      background-color: currentColor;
      content: "";
      height: 1px;
      opacity: 0.222;
    }
  }
}

.column {
  margin-bottom: $small-spacing;
  padding: 0 $small-spacing;
}

.half {
  .column {
    @include span-columns(6 of 9);
  }

  .column.narrow {
    @include span-columns(3 of 9);
  }
}

.full {

  @include media($medium-screen-up) {
    .column {
      flex-basis: 50%;
    }
  }

  @include media($large-screen-up) {
    .column {
      flex-basis: 33.333%;
    }

    .column.narrow {
      flex-basis: 16.666%;

      p {
        @include vertical-rhythm(-1);
      }
    }
  }
}
