.grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 (-$small-spacing);
  position: relative;

  & + & {
    padding-top: $base-spacing;

    &::before {
      @include position(absolute, 0 $small-spacing null);
      background-color: currentColor;
      content: "";
      height: 1px;
      opacity: 0.222;
    }
  }
}

.column {
  padding: 0 $small-spacing;
}

.full {

  @include media($small-screen-up) {
    .sixth {
      flex-basis: 50%;
    }

    .third {
      .sixth {
        flex-basis: 50%;
      }
    }
  }

  @include media($medium-screen-up) {
    .sixth {
      flex-basis: 25%;
    }

    .third {
      flex-basis: 50%;
    }
  }

  @include media($large-screen-up) {
    .sixth {
      flex-basis: 16.666%;
    }

    .third {
      flex-basis: 33.333%;
    }

    .half {
      flex-basis: 50%;
    }
  }
}
