.cover {
  align-items: center;
  display: flex;
  justify-content: center;
}

.arrow-down {
  @include position(absolute, null null $base-spacing $base-spacing);
  @include size(rem(42));
  color: $dark-font-color;
  transform: rotate(90deg);
}
