.cover {
  height: 75vw;
  max-width: none;
  object-fit: cover;
  object-position: center top;
  overflow: hidden;
  width: 100vw;

  @include media($medium-screen-up) {
    height: 100vh;
  }
}

.arrow-down {
  @include position(absolute, null null $base-spacing $base-spacing);
  @include size(rem(42));
  color: $dark-font-color;
  transform: rotate(90deg);
}
