.curtain {
  @include media($large-screen-up) {
    box-shadow: 0 0 ($base-spacing * 2) black;
    min-height: 100vh;
    position: relative;
    z-index: $z-curtain;

    &.top {
      z-index: $z-curtain + 3;
    }
  }
}

#fixed {
  display: none;

  @include media($large-screen-up) {
    @include position(fixed, 0);
    z-index: $z-curtain + 1;
  }
}

.curtain-shadow {
  display: none;

  @include media($large-screen-up) {
    @include position(absolute, 100% 0 null);
    background: linear-gradient($dark-purple, rgba($dark-purple, 0));
    display: block;
    height: 100vh;
    pointer-events: none;

    .top & {
      z-index: $z-curtain + 2;
    }
  }
}
