.lede {
  h1 {
    margin-top: $base-spacing * 2;
  }

  h3 {
    margin: ($base-spacing * 3) 0 ($small-spacing / 2);
  }

  h4 {
    font-weight: normal;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
