$nav-transition: 0.333s $ease-out-expo;

.nav {
  @include position(fixed, 0 null 0 0);
  background-color: $white;
  max-width: 20rem;
  transform: translateX(-100%);
  transition: transform $nav-transition;
  width: 100%;
  z-index: $z-nav;
}

.nav-close {
  @include size($base-spacing * 1.25);
  border-radius: 50%;
  box-shadow: 0 0 0 3px $purple;
  cursor: pointer;
  margin: $base-spacing;
  position: relative;
  transform: rotate(45deg);

  &::after,
  &::before {
    @include position(absolute, 0);
    background-color: $purple;
    border-radius: 3px;
    content: "";
    margin: auto;
  }

  &::after {
    @include size(3px 1.5rem);
  }

  &::before {
    @include size(1.5rem 3px);
  }
}

.nav-header {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: ($base-spacing * 2) $base-spacing $base-spacing;
}

.nav-item {
  display: block;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: $small-spacing $base-spacing;

  &:hover {
    background-color: shade($white, 5%);
  }
}

.nav-overlay {
  @include position(fixed, 0);
  background-color: $purple;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity, $nav-transition, transform $nav-transition;
  z-index: $z-nav - 1;
}

.nav-open {
  overflow: hidden;

  .nav {
    transform: translateX(0);
  }
  .nav-overlay {
    opacity: 0.888;
    transform: translateX(0);
  }
}
