$nav-transition: 0.333s $ease-out-expo;

.nav {
  @include position(fixed, 0 null 0 0);
  background-color: $light-background-color;
  max-width: 20rem;
  padding: 0 $base-spacing;
  transform: translateX(-100%);
  transition: transform $nav-transition;
  width: 100%;
  z-index: $z-nav;
}

.nav-close {
  @include size(rem(43));
  border-radius: 50%;
  box-shadow: 0 0 0 3px $light-font-color;
  cursor: pointer;
  margin: $base-spacing 0;
  position: relative;
  transform: rotate(45deg);

  &::after,
  &::before {
    @include position(absolute, 0);
    background-color: $light-font-color;
    border-radius: 3px;
    content: "";
    margin: auto;
  }

  &::after {
    @include size(3px 1.5rem);
  }

  &::before {
    @include size(1.5rem 3px);
  }
}

.nav-header {
  font-size: rem(35);
  line-height: rem(36);
  margin: $base-spacing 0;
}

.nav-section-header {
  box-shadow: 0 1px 0 rgba($base-font-color, 0.3);
  font-size: rem(22);
  font-weight: $bold-weight;
  line-height: rem(40);
  margin-top: $base-spacing;
}

.nav-item {
  box-shadow: inset 0 -1px 0 rgba($base-font-color, 0.3);
  display: block;
  font-size: rem(16);
  line-height: rem(20);
  padding: rem(8) rem(4);

  &:hover {
    background-color: rgba($base-font-color, 0.03);
  }
}

.nav-overlay {
  @include position(fixed, 0);
  background-color: $light-font-color;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity, $nav-transition, transform $nav-transition;
  z-index: $z-nav - 1;
}

.nav-open {
  overflow: hidden;

  .nav {
    transform: translateX(0);
  }
  .nav-overlay {
    opacity: 0.888;
    transform: translateX(0);
  }
}
