section ol {
  position: relative;

  .cycle-slide {
    cursor: pointer;
  }
}

.slideshow-nav {
  @include position(absolute, null 0 ($small-spacing / 2) null);
  align-items: center;
  display: flex;
  height: $small-spacing;
  z-index: 101;
}

.slideshow-dot {
  @include size(0.875rem);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px currentColor;
  cursor: pointer;
  display: block;
  margin-left: $small-spacing / 2;

  &.cycle-pager-active {
    background: currentColor;
    box-shadow: none;
  }
}
