@font-face {
  font-family: Circular;
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
}
