// Typography
$base-font-family: "Circular", $helvetica;

// Font Sizes
$base-font-size: 0.9375rem;
$base-line-height: 1.6;

$modular-scale-base: $base-font-size;
$modular-scale-ratio: $major-second;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 2.25rem;
$small-spacing: $base-spacing / 2;

// Z Indexes
$z-fixed-footer: 0;
$z-curtain: 101;
$z-toc: 190;
$z-hamburger: 195;
$z-nav: 200;

// Colors
$light-background-color: #f2f6ff;
$light-font-color: #525967;

$dark-background-color: #282c33;
$dark-font-color: #cfd7e7;

// Font Colors
$base-background-color: $light-background-color;
$base-font-color: $light-font-color;
$action-color: $light-font-color;

// Font Weights
$normal-weight: 400;
$bold-weight: 700;

// Border
$base-border-color: $light-background-color;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
