// Typography
$base-font-family: "Circular", $helvetica;

// Font Sizes
$base-font-size: 1.125rem;
$base-line-height: 1.666;

$modular-scale-base: $base-font-size;
$modular-scale-ratio: $major-second;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-font-size * $base-line-height;
$small-spacing: $base-spacing / 2;

// Z Indexes
$z-fixed-footer: 0;
$z-curtain: 101;
$z-hamburger: 195;
$z-nav: 200;

// Colors
$purple: #2a2f3a;
$dark-purple: darken($purple, 10%);
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$action-color: $purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
