// Typography
$base-font-family: "Circular", $helvetica;

// Font Sizes
$base-font-size: 0.9375rem;
$base-line-height: 1.467;

$modular-scale-base: $base-font-size;
$modular-scale-ratio: $major-second;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-font-size * $base-line-height;
$small-spacing: $base-spacing / 2;

// Z Indexes
$z-fixed-footer: 0;
$z-curtain: 101;
$z-hamburger: 195;
$z-nav: 200;

// Colors
$purple: #282c33;
$dark-purple: darken($purple, 10%);
$white: #f5f6f8;

// Font Colors
$base-background-color: $white;
$base-font-color: $purple;
$action-color: $purple;

// Font Weights
$normal-weight: 400;
$bold-weight: 700;

// Border
$base-border-color: $white;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
